h1 {
    font-size: 1.7em;
    font-weight: bold;
    margin-left: 0.6em;
    margin-top: 6px;
    letter-spacing: 3px;
}

.full-screen-link a {
    cursor: pointer;
}

.brand-logo-mini img {
    width: 60px !important;
    max-width: none !important;
    height: 40px !important;
}

.brand-logo img {
    width: 8em !important;
    max-width: none !important;
    height: 40px !important;
}
