.login-box {
    border-radius: 2em;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box img {
    width: 15em;
    margin-right: 15px;
    user-select: none;
}

.center-box h1 {
    margin-bottom: 0;
    user-select: none;
    font-weight: bold;
}