/* Fonts */

//PT_Sans
@font-face {
  font-family: 'ubuntu-light';
  src: url('fontsight.eot'); /* IE9 Compat Modes */
  src: url('fontsight.woff2') format('woff2'), /* Super Modern Browsers */
       url('fontsight.woff') format('woff'), /* Pretty Modern Browsers */
       url('fontsight.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'ubuntu-regular';
  src: url('fontsegular.eot'); /* IE9 Compat Modes */
  src: url('fontsegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fontsegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fontsegular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'ubuntu-medium';
  src: url('fontsedium.eot'); /* IE9 Compat Modes */
  src: url('fontsedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('fontsedium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fontsedium.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'ubuntu-bold';
  src: url('fontsold.eot'); /* IE9 Compat Modes */
  src: url('fontsold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fontsold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fontsold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
